:root {
  color: var(--primary);
  background-color:var(--bg);
  font-family:
    Inter,
    'Segoe UI',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary:#00014D;
  --secondary:#009DFF;
  --tertiary:#FFFFFF;
  --bg:#EEF8FF;
  --transluscent:#00014d5b; 
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input {
  font: inherit;
}
